body {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    background-color: #222831;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #3fc1c9;
}
.logo img{
    width: 200px;
}
.mainWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: startupPage 0.7s;
    position: absolute;
    width: 100%;
}
#blueText{
    color: #3fc1c9;
}
.leftMain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text1 h1{
    line-height: 2;
    font-size: 60px;
}
.text2 h5{
    font-size: 20px;
    font-weight: 50;
}
.startBtn button{
    border: none;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    background-color: #3fc1c9;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #222831;
    transition: 0.3s ease;
}
.startBtn button a{
    text-decoration: none;
    color: #222831;
}
.startBtn button:hover{
    transform: scale(1.05);
}
.rightMain img{
    width: 100%;
    animation: imgOpPulse 3s infinite;
}
.footerimg{
    margin-top: 650px;
}
.footerimg img{
    width: 100%;
}





@keyframes imgOpPulse{
    0%, 100%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
}

@keyframes startupPage{
    0%{
        margin-top: 260px;
        opacity: 0%;
    }
    20%{
        opacity: 20%;
    }
    100%{
        margin-top: 0;
        opacity: 100%;
    }
}